<div class="text-center">

  <span class="label mt-3">Files from Database Storage</span>

  <div class="mt-2 mr-3 ml-3">
    <table class="table">
      <thead>
        <tr>
          <th class="left">File Name</th>
          <th class="left">Creation Date</th>
          <th class="left">Last Modified</th>
          <th class="left">File Size</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left">testing</td>
          <td class="left">testing</td>
          <td class="left">testing</td>
          <td class="left">testing</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
